<div class="row">
  <div class="col-md-8">
    <h1 class="mb-4">Categories</h1>
  </div>
  <div class="col-md-4 text-right">
    <%= link_to 'New Category', new_category_path, class: "btn btn-success mb-3", data: { turbo: true }  %>
  </div>
</div>

<div class="card">
  <ul class="list-group list-group-flush">
    <% @categories.each do |category| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= category.name %>
        <div>
          <%= link_to 'Edit', edit_category_path(category), class: "btn btn-warning btn-sm", data: { turbo: true }  %>
          <%= button_to 'Delete', category_path(category), method: :delete, data: { confirm: 'Are you sure?', turbo:true }, class: "btn btn-danger btn-sm" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>